html,
body {
   height: 100%;
   overflow: hidden;
}

body {
   background: rgb(0, 188, 203);
   background-image: -webkit-radial-gradient(top, circle cover, rgba(0, 188, 203, 1) 0%, rgba(0, 170, 182, 1) 11%, rgba(1, 126, 135, 1) 26%, rgba(4, 71, 77, 1) 49%, rgba(0, 7, 11, 1) 95%, rgba(4, 4, 4, 1) 100%);
   display: flex;
   justify-content: center;
   align-items: center;
}

* {
   box-sizing: border-box;
}

textarea,
input,
button {
   outline: none;
}

.window-button,
.window .buttons .maximize,
.window .buttons .minimize,
.window .buttons .close {
   padding: 0;
   margin: 0;
   margin-right: 4px;
   width: 12px;
   height: 12px;
   background-color: gainsboro;
   border: 1px solid rgba(0, 0, 0, 0.2);
   border-radius: 6px;
   color: rgba(0, 0, 0, 0.5);
}

.window {
   animation: bounceIn 1s ease-in-out;
   width: 640px;
}

.window .handle {
   height: 22px;
   background: linear-gradient(0deg, #d8d8d8, #ececec);
   border-top: 1px solid white;
   border-bottom: 1px solid #b3b3b3;
   border-top-left-radius: 5px;
   border-top-right-radius: 5px;
   color: rgba(0, 0, 0, 0.7);
   font-family: Helvetica, sans-serif;
   font-size: 13px;
   line-height: 22px;
   text-align: center;
}

.window .buttons {
   position: absolute;
   float: left;
   margin: 0 8px;
}

.window .buttons .close {
   background-color: #ff6159;
}

.window .buttons .minimize {
   background-color: #ffbf2f;
}

.window .buttons .maximize {
   background-color: #25cc3e;
}

.window .terminal {
   padding: 4px;
   background-color: black;
   opacity: 0.7;
   height: 350px;
   color: white;
   font-family: "Source Code Pro", monospace;
   font-weight: 200;
   font-size: 14px;
   white-space: pre-wrap;
   white-space: -moz-pre-wrap;
   white-space: -pre-wrap;
   white-space: -o-pre-wrap;
   word-wrap: break-word;
   border-bottom-left-radius: 5px;
   border-bottom-right-radius: 5px;
   overflow-y: auto;
}

.window .terminal::after {
   content: "|";
   animation: blink 2s steps(1) infinite;
}

.prompt {
   color: #bde371;
}

.path {
   color: #5ed7ff;
}

@keyframes blink {
   50% {
      color: transparent;
   }
}

@keyframes bounceIn {
   0% {
      transform: translateY(-1000px);
   }
   60% {
      transform: translateY(200px);
   }
   100% {
      transform: translateY(0px);
   }
}

::-webkit-scrollbar {
   width: 6px;
   height: 6px;
}

 ::-webkit-scrollbar-button {
   width: 0px;
   height: 0px;
}

 ::-webkit-scrollbar-thumb {
   background: #e1e1e1;
   border: 0px none #ffffff;
   border-radius: 77px;
}

 ::-webkit-scrollbar-thumb:hover {
   background: #ffffff;
}

 ::-webkit-scrollbar-thumb:active {
   background: #000000;
}

 ::-webkit-scrollbar-track {
   background: #000000;
   border: 0px none #ffffff;
   border-radius: 100px;
}

 ::-webkit-scrollbar-track:hover {
   background: #666666;
}

 ::-webkit-scrollbar-track:active {
   background: #333333;
}

 ::-webkit-scrollbar-corner {
   background: transparent;
}